<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:component-scan
		base-package="controller, service, repository"></context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>

	<!-- =======SERVE STATIC RESOURCE======== -->
	<mvc:default-servlet-handler />
	<mvc:resources location="/resources/"
		mapping="/resources/**"></mvc:resources>

	<!-- VIEW RESOLVER LOGICAL VIEW NAME -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- CONFIG JDBC FOR PERSISTENT -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://sql6.freemysqlhosting.net:3306/sql6503070?useUnicode=yes;characterEncoding=UTF-8"></property>
		<property name="username" value="sql6503070"></property>
		<property name="password" value="1234"></property>
	</bean>

	<!-- JDBC TEMPLATE -->
	<bean
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate"
		id="namedParameterJdbcTemplate">
		<constructor-arg ref="dataSource"></constructor-arg>
	</bean>

	<!-- SUPPORT IMAGE UPLOAD -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize" value="10000000"></property>
	</bean>
	

	
	
</beans>
